.skill-div{
    /* background: linear-gradient(145deg, #e6e6e6, #ffffff); */
        box-shadow: 20px 20px 60px #d9d9d9,
            -20px -20px 60px #ffffff;
    
}
.card{
    width:100%;
    height:max-content;
    border-radius: 10px;
    overflow: hidden;
    /* border:8px solid white; */
    position: relative;
    cursor:pointer
}
.card-img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-body{
    width:100%;
    height: 100%;
    top:0;
    right:-100%;
    position: absolute;
    /* background: #1f3d4738; */
    
    /* backdrop-filter: blur(5px); */
    transition: 1s;
    border-radius: 10px;
}
.card:hover .card-body{
    right:0;
}

/* Typewriter.css */
@keyframes blinkCursor {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .web-dev .text-cyan-700::after {
    content: '|';
    animation: blinkCursor 0.7s infinite;
    margin-left: 2px;
    color: currentColor; /* Use the same color as the text */
  }
  